*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-family:  monospace;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.container{
  width: 85%;
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .4);
  text-align: center;
   justify-content: center;
   border-radius: 15px;
   gap: 10px;
   backdrop-filter: blur(10px);
   background-color: rgba(255, 255, 255, .3);
}

.container h1{
  font-size: 5vw;
  /* line-height: 10px; */
  font-weight: 900;
  margin-bottom: 20px;
  color: transparent;
  background-image: url(https://t3.ftcdn.net/jpg/02/86/18/20/240_F_286182066_yY72dajL2Vv9pYZ0LWiDiYZrMEStz0Fo.jpg);
  background-size: contain;
  background-clip: text;
  text-transform: uppercase;
}

.container p{
  font-size: 2vw;
  color: #fff;
  font-weight: 500;
  margin-bottom: 14px;
}

.container .btn{
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  
  box-shadow: rgb(34, 34, 34);
  cursor: pointer;
  
}

.btn:hover{
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 4px 4px rgba(0, 0,0, .3);
  transition: all 300ms ease;
}